{% extends 'home.html' %}
{% block content %}
  <div class="container pt-5">
    <div class="card card-outline card-dark" style="background-color: #D1D1D1;">
      <div class="card-header">
        <h1 class="card-title header h1">LISTADO DE CATEGORIAS</h1>
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col">
            <a href="{% url 'agregarcategoria' %}" class="btn btn-sm btn-dark btn-add text-white"><i class="fas fa-plus"></i> NUEVO</a>
          </div>
          <div class="col-md-6 ml-auto">
            <form action="" method="GET">
              <div class="input-group">
                <input type="text" name="buscar" id="buscar" class="form-control" autofocus placeholder="Buscar" value="" />
                <span class="input-group-btn"><button class="btn btn-dark"><i class="fa fa-search"></i></button></span>
              </div>
            </form>
          </div>
        </div>

        <table id="tablasubfamilias" class="table table-striped table-dark mt-4" style="width:100%">
          <thead class="bg-dark text-white">
            <tr>
              <th>CODIGO</th>
              <th>DESCRIPCIÓN</th>
              <th>
                <center>OPCIONES</center>
              </th>
            </tr>
          </thead>
          <tbody>
            {% if categoria %}
              {% for itemcategoria in categoria %}
                <tr>
                  <td>{{ itemcategoria.id }}</td>
                  <td>{{ itemcategoria.descripcion }}</td>
                  <td style="text-align: center;">
                    <a href="{% url 'editarcategoria' itemcategoria.id %}" class="btn btn-info btn-sm"><i class="fa fa-edit"></i></a>
                    <a href="#" onclick="eliminarCategoria('{{ itemcategoria.id }}', '{{ itemcategoria.descripcion }}')" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                  </td>
                </tr>
              {% endfor %}
            {% else %}
              <tr style="text-align: center;">
                <td colspan="3">
                  <p>No hay Registros</p>
                </td>
              </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  {% if messages %}
    {% for m in messages %}
      <script>
        Swal.fire({
          title: 'Eliminado',
          text: '{{m}}',
          icon: 'success'
        })
      </script>
    {% endfor %}
  {% endif %}

  <script>
    function eliminarCategoria(id, descripcion) {
      Swal.fire({
        title: '¿Realmente desea eliminar este registro?',
        text: 'Código: ' + id + ' Descripción: ' + descripcion,
        icon: 'question',
        showCancelButton: true,
        cancelButtonText: 'No',
        confirmButtonText: 'Sí',
        reverseButtons: true,
        confirmButtonColor: '#dc3545'
      }).then(function (result) {
        if (result.isConfirmed) {
          window.location.href = '/eliminarcategoria/' + id + '/'
        }
      })
    }
  </script>
{% endblock %}
