{% extends "home.html" %}
{% block content %}
<div class="container">
 <div class="card card-outline card-info mt-3">
 <div class="card-header">
    <h1 class="card-title">LISTADO DE UNIDADES</h1>
    <a href="{% url 'agregarunidad' %}" class='btn btn-sm btn-primary btn-add'><i class='fas fa-plus'></i> NUEVO</a> 
 </div>
 <div class="card-body">

 <div class="row">
 <div class="col-md-6 pull-right">
 <form action="" method="GET">


 <div class="input-group">
 <input type="text" name="buscar" id="buscar" cla
ss="form-control" autofocus
placeholder="Buscar" value="">
 <span class="input-group-btn">
 <button class="btn btn-primary">
 <i class="fa fa-search"></i>
 </button>
 </span>
 </div>

 </form>
 </div>
 </div>
 <table class="table mt-2">
 <table id="tablasubfamilias" class="table table-striped mt4" style="width:100%">
 <thead class="bg-info text-white">
 <tr>
 <th>CODIGO</th>
 <th>DESCRIPCION</th>
 <th><center>OPCIONES</center></th>
</tr>
 </thead>
 {% if unidad %}
 {% for itemunidad in unidad %}
<tr>
 <td>{{ itemunidad.id }}</td>
 <td>{{ itemunidad.descripcion }}</td>
 <td style="text-align: center;">
    <a href="{% url 'editarunidad' itemunidad.id %}" class="btn btn-info btn-sm"><i class="fa fa-edit"></i> Editar</a>
    <a href="#" onclick="eliminarUnidad('{{itemunidad.id}}','{{itemunidad.descripcion}}')" class="btn btn-danger btn-sm"><i class="fa
        fatrash"></i> Eliminar</a>  </td>
         </tr>
         {% endfor %}
         {% else %}
         <tr style="text-align: center;">
         <td colspan="3">
         <p>No hay Registros</p>
         </td>
         </tr>
         {% endif %}
         </table>
         </div>
         </div>
         </div>
        </div>
        {% endblock %} 

        {% block js %}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if messages %}
 {% for m in messages %}
 <script>
 Swal.fire({
 "title": "Eliminado",
 "text":"{{m}}",
 "icon":"success"
 })
 </script>
 {% endfor %}
{% endif %}
<script>
 function eliminarUnidad(idunidades,descripcion){
Swal.fire({ 
    "title":"¿Realmente desea eliminar Registro?",
 "text":"Codigo :"+ idunidades + " Descripción :" + descripcion,
"icon":"question",
 "showCancelButton":true,
 "cancelButtonText":"No",
 "confirmButtonText":"Si",
 "reverseButton":true,
 "confirmButtonColor":"#dc3545"
 })
 .then(function(result){ if(result.isConfirmed){
window.location.href="/eliminarunidad/"+idunidades+"/"
 }
 })
 }
</script>
{% endblock %}