{% extends 'home.html' %}
{% block content %}
  {% load crispy_forms_tags %}
  <div class="container pt-5">
    <div class="card card-dark" style="background-color: #D1D1D1;">
      <div class="card-header">
        <h1 class="card-title">EDITAR UNIDAD</h1>
      </div>
      <div class="card-body">
        <form action="" method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <div class="d-flex justify-content-end">
            <a href="{% url 'listarunidad' %}" class="btn btn-secondary">Cancelar</a>
            &nbsp;
            <button type="submit" class="btn btn-dark">Actualizar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
