{% extends "home.html" %}
{% block content %}
 {% load crispy_forms_tags %}
<div class="container">
 <div class="card card-info mx-4 my-4">
 <div class="card-header">
 <h1 class="card-title">AGREGAR CATEGORIA</h1>
</div>
 <div class="card-body">
 <form method="post">
 {% csrf_token %}
 {{ form | crispy}}
 <div class="d-flex justify-content-end">
 <a href="{% url 'listarcategoria' %}" class="btn
btnsecondary">Cancelar</a> &nbsp;
<button type="submit" class="btn
btnprimary">Guardar</button>
 </div>
</form>
 </div>
 </div>
</div>
</div>
{% endblock%} 